
<section class="carousel-cards">
    @if (!string.IsNullOrWhiteSpace(Title))
    {
        <h3 class="carousel-title">@Title</h3>
    }
    <div class="cards-container">
        <button @onclick="PreviousCard" disabled="@IsDisbledPrevious" class="btn-cards-left"><img src="/images/back.png" /></button>
        @if (categorias == null)

        {
        <p>Aguarde carregando...</p>
    }
    else
    {
        @foreach (var categoria in categorias)
        {
           <CardComponent categoria="@categoria"
                          selectedCatId="@SelectedCategoryId"
                          marginLeft="@GetMarginLeft(categorias.IndexOf(categoria))"
                          OnSelect="OnSelect" />
        }
    }
        <button @onclick="NextCard" disabled="@IsDisabledNext" class="btn-cards-right"><img src="/images/next.png" /></button>
    </div>
</section>
